
.body{
    background-color:rgb(70, 92, 112);
}

.answerText{
    color: antiquewhite;
    font-size: xx-large;
    text-align: center;
}

.title{
    font-size: 100px;
    text-align: center;
}
.searchBar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.input{
    background-color: antiquewhite;
    border-radius: 5px;
    padding:4px;
    width: 500px;
    margin-right: 20px;
    font-size: xx-large;
}



.synonimize{
    width: 150px;
    border-radius: 5px;
    padding:10px;
    font-size: large;
    background-color: antiquewhite;
}

/* RESPONSIVE */


  @media screen and (max-width: 1295px) {
    .title {
      font-size: 75ptpx;
    }
  }



  @media screen and (max-width: 600px) {
    .title {
      font-size: 65px;
    }
  }

  @media screen and (max-width: 600px) {
    .input{
        width: 500px;
        height: 100px;
        margin-right: 4px;
        margin-left:4px;
        margin-bottom: 8px;
        font-size: large;
    }
  }



  @media screen and (max-width: 600px) {
    #blurb p {
      font-size: 20px;
      width: 400px;
      text-align: center;
  }
}

@media screen and (max-width: 600px) {
    #blurb p .spanitalic {
      font-size: 30px;
  }
}